<!-- Contact form modal -->
<div class="modal fade" id="contactFormModal" role="dialog" aria-labelledby="responseLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="responseLabel">Kontakt</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <form id="contactform" method="POST">
          <div class="form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Navn" autofocus required>
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" id="email" placeholder="E-mail" required>
          </div>
          <div class="form-group">
            <textarea rows="6" name="message" class="form-control" id="msg" placeholder="Besked"></textarea>
          </div>
          <div class="feedback" role="alert"></div>
          <div class="captcha-box">
            <div class="g-recaptcha" id="recaptcha" data-callback="onReCaptchaLoad" data-theme="light"> </div>
          </div>
        </form>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Luk</button>
        <button type="submit" class="btn btn-primary" id="sendMail">Send</button>
      </div>
    </div>
  </div>
</div>
<!-- Contact form end -->
<!-- CD cover modal -->
<div class="modal fade" id="cd-cover" tabindex="-1" role="dialog" aria-labelledby="coverTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="coverTitle">Cover til CD-rom</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <picture>
          <source srcset="img/it-cover.webp" type="image/webp">
          <source srcset="img/it-cover.jpg" type="image/jpeg">
          <img src="img/it-cover.jpg" alt="Cover" width="600" height="450" loading="lazy" class="img-fluid">
      </picture>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Luk</button>
      </div>
    </div>
  </div>
</div>
<!-- CD cover modal end -->
<!-- 3D animation -->
<div class="modal fade" id="animation" tabindex="-1" role="dialog" aria-labelledby="animationTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="animationTitle">3D-modellering: Return of the Mac. <small class="text-muted">Mp4 m. lyd</small></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="embed-responsive embed-responsive-16by9 video-wrapper">
          <video class="embed-responsive-item video-style" poster="img/3d-modellering.jpg" controls playsinline>
            <source src="includes/downloads/downloads.php?id=2">
          </video>
        </div>
        Copyright © 2003 Nanna Ellegaard og Allan Lysholt
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Luk</button>
      </div>
    </div>
  </div>
</div>
<!-- 3D animation end -->
