<!DOCTYPE html>
<html class="no-js" lang="da">
<?php include('includes/functions.php'); ?>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="robots" content="{{ index }}">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="{{ description }}" name="description">
  <meta property="og:title" content="{{ author }} - universitetsopgacer i spansk og Latinamerikastudier">
  <meta property="og:image" content="<?php echo siteUrl(); ?>/img/icons/social-article-img.png">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="<?php echo siteUrl(); ?>">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon-16x16.png">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="manifest" href="manifest.json">
  <link rel="mask-icon" href="img/icons/safari-pinned-tab.svg" color="#d75959">
  <meta name="msapplication-TileColor" content="#d75959">
  <meta name="theme-color" content="#d75959">

  <!-- <link rel="alternate" href="<?php echo siteUrl(); ?>" hreflang="da"> -->
  <title>{{ author }} - universitetsopgacer i spansk og Latinamerikastudier</title>
  <?php include('includes/db.php'); ?>
  <link href="dist/css/bootstrap.min.css?v=<?php echo $version_number;?>" rel="stylesheet">
  <?php include_once('includes/tracking/analyticsTracking.php'); ?>
  {% include "partials/schema-data.njk" %}
</head>

<body>
  <?php include('includes/downloads/displayInfo.php'); ?>
  {% include "partials/scrollprocess.njk" %}
  {% include "partials/topmenu.njk" %}
  <div class="content">
    {% block content %} {% endblock %}
  </div>
  {% include "partials/modals.njk" %}
  {% include "partials/footer.njk" %}

  <!-- Scripts: -->
  <script src="dist/js/bootstrap.min.js?v=<?php echo $version_number;?>"></script>
  <script src="dist/js/svgxuse.min.js" defer></script>
  </body>

  </html>
